/*JUMBOTRON*/
.jumbotron {
	/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs1n5uDvOwXtjUKFkZBeBy-kfkohJp7Tvd7lBEh1yg-ygI51Lf&s"); */
	background-image: url("http://slateman.net/images/gaming/backgrounds/sf2hf-ryu.gif");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 30px;
    text-align: center;
}

.jumbotron h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 900;
	color: #e7283a;
	text-shadow: 2px 2px black;
}

.jumbotron p {
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 75px;
	margin-right: 75px;
}